:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

main {
    display: flex;
    gap: 1rem;
}

section {
    flex: 1;
}

a[routerLink] {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.125rem;
    background-color: white;

    &:hover {
        background-color: lightgray;
    }
}