main {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    background: slategray;
    border-radius: 0.125rem;
}

section {
    padding: 0.5rem 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.footer {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}